<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <h6>TRANSPORTE SHALOM</h6>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="padding ion-item align-self-center>" color="primary">

    <ion-slides class="slide-full">

    <ion-slide>

      <ion-card mode="ios" class="animated fadeIn">
        <img src="../../assets/trans.png" class="slide-image avatar animated fadeIn">
        <ion-card-content>
            <ion-item>
              <ion-label class="ion-text-wrap">Versión</ion-label>
              <ion-label slot="end" class="ion-text-wrap">1.0.1</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">Fecha</ion-label>
              <ion-label slot="end" class="ion-text-wrap">08/03/2022</ion-label>
            </ion-item>
            © 2022, Transportes Shalom <br><br><br>
            <p class="ion-text-justify">
              Proporcionamos a nuestros usuarios servicio de transporte de personal con cobertura a toda Centroamérica eficiente, seguro y rápido con una flota vehicular reciente con el mejor talento humano y tecnología disponible.
            </p>


        </ion-card-content>
      </ion-card>

    </ion-slide>
</ion-slides>
</ion-content>